:root {
  --primary-color: #000000;
  --primary-color-highlight: grey;
  --bs-body-bg: #faf9f6;
  --bs-body-font-family: 'Inter', sans-serif;
}

body {
  height: 500px;  
  padding-top: 70px;
}

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  top: 23px;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
}

.nav-link {
  font-weight: 500;
  font-size: large;
  color: #1c1c1c;
  font-family: "Inter", sans-serif;
  margin-left: 15px;
}

.nav-link:hover {
  color: rgb(59, 59, 59);
  font-weight: 700;
}

.navbar-light {
  background-color: #FAF9F6 !important;
  border: none !important;
  border-width: 0 !important;
}

.navbar-toggler  {  
  border: none;  
  margin-top: 5px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.collection {
  background: #FAF9F6;
}

@media (max-width: 767px) {
  .container {
    padding-left: 12px;
    padding-right: 12px; 
    max-width: 100%; 
  }

  .img-fluid {
    width: 100% !important; 
    height: auto !important; 
  }
}

.collection img.visible {
  opacity: 1;
}

.collection img {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.footer-dark {
  padding-top: 50px;
  background-color: #FAF9F6 !important;
  border: none !important;
  border-width: 0 !important;
}

.footer-text {
  color:rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 17px;
}

.footer-text:hover {
  color: rgb(59, 59, 59);
  font-weight: 700;
}

.copyright {
  color: #000000;
  text-align: center;
  font-size: 15px;
}

.glebsfilm-logo {
  height: 20px;
}